<ion-view>

  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">主页面</h1>
    <button class="button" ng-click="takePicture()">拍照</button>
  </ion-header-bar>

  <ion-content padding="true">

  <div >
      <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
  </div>
  </ion-content>
</ion-view>	