<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">用户名</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">密码</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div ng-show="user.loginFailed">
      用户名或者密码错误
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign-In
      </button>
    </div>
  </ion-content>
</ion-view>